<style type="text/css">
/*** COMMON ***/

body {
	background-color:black;
	color: white;
}

body, div, form {
	margin: 0;
	padding: 0;
	border: none;
	font-family: sans-serif;
}

div.header, div.nav, div.content, div.footer {
	clear: both;
	margin: 0;
}

div.header {
	height: 100px;
	padding: 30px 0 10px 0;
}

div.content {
	padding: 10px;
	text-align: left;
}

div.footer {
	border-top: solid 3px #949;
	padding: 10px;
	text-align: center;
}

a {
	border: none;
	color: #89CFF0;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-decoration:none;
}

a:hover, .date, {
	color: #606;
}

sub {
	vertical-align: baseline;
}

sub a {
	font-weight: normal;
}

.date {
	font-size: xx-small;
	margin: 0;
	padding: 0;
}

span.b {
	font-weight: bold;
}

span.i {
	font-style: italic;
}

span.u {
	text-decoration: underline;
}

div.nav table {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: black;
	border-collapse:collapse;
	border-spacing: 1px;
	margin: 0;
	padding: 0;
	table-layout: fixed;
	width: 21em;
}

div.nav a {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: black;
	color: #89CFF0;
	display: block;
	text-align: center;
}


/*** MCR ***/

#MCR a,
#MCR h2,
#MCR h3,
#MCR h4,
#MCR h5,
#MCRindex a {
	font-weight: normal;
}

#MCR a {
	cursor: pointer;
}

#MCR a:first-child,
#MCRindex h1 a {
	color: white;
	cursor: auto;
	font-weight: bold;
}

#MCR h1,
#MCRindex h1 {
	font-size: x-large;
	margin: 40px 0 20px 0;
}

#MCR h2,
#MCR h3,
#MCR h4,
#MCR h5,
#MCR i,
#MCR p {
	margin-top: 20px;
}

#MCR h2,
#MCR p,
#MCRindex h2 {
	margin-left: 0;
}

#MCR h2,
#MCRindex h2 {
	font-size: large;
}

#MCR h3,
#MCRindex h3 {
	font-size: medium;
	margin-left: 20px;
}

#MCR h4,
#MCR h5,
#MCR p {
	font-size: small;
}

#MCR h4 {
	margin-left: 40px;
}

#MCR h5 {
	margin-left: 60px;
}

#MCR i {
	display: block;
	font-style: italic;
	padding-left: 20px;
}

#MCRindex h2,
#MCRindex h3 {
	margin-bottom: 0;
	margin-top: 0;
}
</style>
